<!-- app/views/errors/internal_server.html.erb -->

<html lang="ja">
  <head>
    <title>500 - サーバーエラー</title>
  </head>
  <body>
    <h1>サーバーエラーが発生しました。</h1>
    <p>現在、サーバーに問題があります。時間をおいて再度お試しください。</p>
    <%= link_to 'ホームに戻る', root_path %>
  </body>
</html>