<!-- app/views/errors/not_found.html.erb -->

<html lang="ja">
  <head>
    <title>404 - ページが見つかりません</title>
  </head>
  <body>
    <h1>お探しのページは見つかりません。</h1>
    <p>申し訳ありませんが、指定されたページは存在しないか、削除された可能性があります。</p>
    <%= link_to 'ホームに戻る', root_path %>
  </body>
</html>
